<!-- Pick one you want to use -->

<!-- Dropdown Link -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- your dropdown name -->
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for("api_blueprint.route_function") }}">LinkName</a>
        <a class="dropdown-item" href="{{ url_for("api_blueprint.route_function") }}">LinkName</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for("api_blueprint.route:function") }}">LinkName</a>
    </div>
</li>

<!-- standard link -->
<li class="nav-item">
<a class="nav-link active" href="{{ url_for("api_blueprint.route_function") }}">LinkName</a>
</li>