{% extends "layout.html" %}
{%block pageTitle%}Show review{%endblock%}

{%block yourStyle%}
    <link rel="stylesheet" href="{{url_for('static' , filename='group3/css/reviews.css')}}">
{%endblock%}

{% block content %}
{%include "header.html"%}
<section>
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            {% if the_review %}
            <h1>Review for {{the_review.name}}</h1>
            <div class="container">
                <p>Meal ID: {{the_review.id}}</p>
                <p>Meal name: {{the_review.name}}</p>
                <p>Meal rating: {{the_review.rating}}</p>
            </div><br>
            <div class="container">
                Comments: 
                {%  for comment in the_review.comments%}
                <table class=" table table-bordered">
                    <tr>
                        <td><p id="ratingInComment">{{comment.rating}} stars: </p><p>{{comment.comment}}</p></td>
                    </tr>
                </table>
            
                {% endfor %}
            
            </div>

            {% else %}>
            <div>Meal does not exist</div>
            {% endif %}
        </div>
    </section>

{%include "footer.html"%}
{%endblock%}

{%block yourScript%}
{%endblock%}