<h2>Selection Categories</h2>
<table class="table table-bordered table-striped">
    <thead>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
    </thead>
    <tbody>
        {% for _, selection_category in selection_categories.items() %}
            <tr>
                <!-- ID -->
                <td style="width: 12.5%">
                    <h5 style="display: inline-block">
                        {{ selection_category.sc_id }}
                    </h5>
                    {% if admin %}
                        &ensp;
                        <button class="btn btn-info edit_selection_category" name="{{ selection_category.sc_name }}_{{ selection_category.sc_id }}">Edit</button>
                        &ensp;
                        <button class="btn btn-danger remove_selection_category" name="{{ selection_category.sc_name }}_{{ selection_category.sc_id }}">Remove</button>
                    {% endif %}
                </td>
                <!-- Name -->
                <td style="width: 87.5%">
                    {% if admin %}
                        <span class="hidden-edit-selection_category-{{ selection_category.sc_id }}">
                        {% endif %}
                            {{ selection_category.sc_name }}
                        {% if admin %}
                        </span>
                        <span class="hidden-default-selection_category-{{ selection_category.sc_id }}" style="display: none">
                            <form action="#" class="form-inline">
                                <input type="text" id="selection-category-edit-name_{{ selection_category.sc_id }}" class="form-control selection_category-edit-input_{{ selection_category.sc_id }} input-sm" placeholder="Selection Category Name" value="{{ selection_category.sc_name }}">
                                &ensp;
                                <input type="button" class="btn btn-info edit_selection_category_name" name="{{ selection_category.sc_id }}" value="Change">
                            </form>
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {% if admin %}
    <tr>
        <td colspan="4">
            <div class="row justify-content-center">
                <input class="btn btn-success btn-lg col-4" id="add_selection_category" value="Add New Selection Category">
            </div>
        </td>
    </tr>
    {% endif %} 
</table>