{% extends "layout.html" %}
{%block pageTitle%}
Inventory Login
{%endblock%}
{%block yourStyle%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{%endblock%}
{% block content %}
{%include "navbar.html"%}
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="col-5"></div>
    </div>
{%endblock%}


{%block yourScript%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function(event){
            
            // Get the form data
            var username = $('input#username').val();
            var password = $('input#password').val();
            
            // Send request via AJAX
            $.ajax({
                type: "POST",
                url: "https://192.168.99.100:25101/v1/locations/login",
                headers: {
                    "Authorization": "Basic " + btoa(username + ":" + password)
                },
            })
                .done(function(data){
                    console.log(data['access_token'])
                    sessionStorage.setItem("access_token", data['access_token'])
                    document.cookie = "access_token_cookie=" + data['access_token']
                    window.location.href = "/inventories/"
                });
            
            event.preventDefault();
        }); 
    });
</script>
{%endblock%}
