<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block pageTitle%}{%endblock%}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/origin/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/origin/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/origin/css/main.css">
<!--===============================================================================================-->


{%block yourStyle%}{%endblock%}
</head>
<body class="animsition">
{%block content%}{%endblock%}
</body>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/origin/vendor/jqueryui/jquery-ui.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="../static/origin/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/origin/vendor/bootstrap/js/tooltip.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../static/origin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="../static/origin/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="../static/origin/vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/origin/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/origin/js/main.js"></script>
<!--===============================================================================================-->
{%block yourScript%}{%endblock%}

</html>